.lesson7 h1 {
    color: red;
    position: fixed;
    top: 50px;
    right: 50px;
    }

.lesson8 h1 {
    color: red;
    position: relative;
    top: 30px;
    left: -20px;
    }

.lesson9 img {
    position: absolute;
    left: 0px;
    top: 420px;
    z-index: -1;
    }   

.container {
    position: relative;
    }
    
.topleft {
    font-size: 18px;
    left: 30px;
    top: 15px;
    position: absolute;
    }
    
img Play {
    width: 100%;
    height: auto;
    opacity: 0.3;
    }   